* {
    font-style: normal;
}

body {
    width: 100%;
    line-height: normal !important;
}

#main-content {
    width: 100%;
    padding: 80px 29px 10px 29px;
    background-color: white;
    line-height: 1.5em;
    font-size: large;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

i {
    color: rgb(149, 194, 58);
    opacity: 1;
}

i:hover {
    color: rgb(219, 180, 24);
}

#header-div {
    width: 100%;
    height: 60px;
    background-color: rgb(46, 64, 5);
    font-size: large;
}

#header-nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

#offcanvas-btn {
    visibility: visible;
    background-color: rgb(149, 194, 58);
    border: none;
    box-shadow: 5px 5px 5px 0px rgb(30, 41, 3);
}

#offcanvas-btn:hover {
    background-color: rgb(219, 180, 24);
    cursor: pointer;
}

#offcanvas-btn-rtl {
    position: absolute;
    visibility: hidden;
    background-color: rgb(149, 194, 58);
    border: none;
    box-shadow: 5px 5px 5px 0px rgb(30, 41, 3);
    margin-inline-start: 10px;
}

#offcanvas-btn-rtl:hover {
    background-color: rgb(219, 180, 24);
    cursor: pointer;
}

#logo {
    width: 95px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    margin-inline-start: 40px;
    margin-inline-end: 20px;
    box-shadow: 1px 2px 8px 0px rgb(0, 0, 0);
    padding-inline-end: 3px;
}

#navbar-brand {
    color: white;
    text-decoration: none;
    font-size: x-large;
    margin-right: 0;
}

#navbar-brand:hover {
    color: rgb(149, 194, 58);
}

#icon-div {
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#instagram-link {
    display: flex;
    text-decoration: none;
}

#facebook-link {
    display: flex;
    text-decoration: none;
}

#searchbar {
    width: 40%;
}

#search-btn {
    background-color: rgb(149, 194, 58);
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search-btn:hover {
    background-color: rgb(219, 180, 24);
    cursor: pointer;
}

#offcanvasWithBothOptions {
    background-color: rgb(46, 64, 5);
    margin: 0;
    padding: 0;
}

#offcanvasRight {
    background-color: rgb(46, 64, 5);
    margin: 0;
    padding: 0;
}

#offcanvas-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5pt solid rgb(149, 194, 58);
    padding:0;
}

#menu-logo {
    width: 80%;
    margin: auto;
    height: auto;
    padding-right: 8px;
}

#close-btn {
    --bs-btn-close-bg: none;   
    position: absolute;
    top: 10px;
    inset-inline-end: 10px;
    padding: 0;
    opacity: 0.8;
}

#close-btn:hover {
    cursor: pointer;
    opacity: 1;
}

#menu {
    display: block;
    padding: 0;
    margin: 20px;
}

#menu-links {
    padding: 0;
}

#menu-link {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

#menu-link:hover {
    background-color: rgb(149, 194, 58);
}

#i-menu {
    color: rgb(46, 64, 5) !important;
}

#footer-div {
    display: flex;
        width: 100%;
        height: 60px;
        background-color: rgb(46, 64, 5);
        font-size: large;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
}

#footer-nav {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(46, 64, 5) !important;
}

#footer-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

#footer-link {
    text-decoration: none;
    color: white;
    margin: 0;
}

#footer-link:hover {
    color: rgb(149, 194, 58);
}

#footer-img {
    width:400px;
    height: 2px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

#seperator-img {
    width: 2px;
    height: 20px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    padding: 0;
}

@media (max-width: 385px) {

    #main-content {
        padding: 60px 29px 10px 29px;
        background-color: white;
        line-height: 1.5em;
        font-size: small;
    }

    #header-div {
        height: 40px;
        margin-inline-start: 0;
    }

    .container-fluid {
        --bs-gutter-x: 5px !important;
        }

    #offcanvas-btn {
        width: 40px;
        height: 30px;
        font-size: x-small;
        padding: 0;
        box-shadow: none;
    }

    #offcanvas-btn-rtl {
        width: 40px;
        height: 30px;
        font-size: x-small;
        padding: 0;
        box-shadow: none;
    }

    #logo {
        width: 70px;
        height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        margin-inline-start: 5px;
        margin-inline-end: 5px;
        box-shadow: 1px 2px 8px 0px rgb(0, 0, 0);
        padding-inline-end: 3px;
    }
    
    #navbar-brand {
        visibility: hidden;
        position: absolute;
    }

    #icon-div {
        height: 40px;
        width: auto;
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
    }

    #instagram-link {
        font-size: xx-small;
        margin-bottom: 7px;
        padding: 0;
    }

    #facebook-link {
        font-size: xx-small;
        padding: 0;
    }

    #searchbar {
        margin-inline-start: 5px;
        width: 200px;
        height: 30px;
    }

    #search-input {
        font-size: small;
        padding: 5px;
    }

    #search-btn {
        width: 60px;
        height: 30px;
        font-size: x-small;
        padding: 0;
        box-shadow: none;
    }

    #offcanvasWithBothOptions {
        max-width: 100%;
        font-size: small;
    }

    #offcanvasRight {
        font-size: small;
    }

    #i-menu {
        color: rgb(149, 194, 58) !important;
    }

    #footer-div {
        height: 40px;
        font-size: small;
        align-items: center;
        min-width: fit-content;
    }

    #footer-nav {
        font-size: small;
        height: 40px;
        align-items: center;
    }

    #footer-img {
       visibility: hidden;
       display: none;
    }

    #seperator-img {
        width: 2px;
        height: 20px;
    }
}

@media (min-width: 386px) and (max-width: 575px){

    #main-content {
        padding: 60px 29px 10px 29px;
        background-color: white;
        line-height: 1.5em;
        font-size: medium;
    }

    #header-div {
        height: 40px;
        margin-inline-start: 0;
    }

    #offcanvas-btn {
        width: 70px;
        height: 30px;
        font-size: small;
        padding: 0;
        box-shadow: none;
    }

    #offcanvas-btn-rtl {
        width: 70px;
        height: 30px;
        font-size: medium;
        padding: 0;
        box-shadow: none;
    }

    #menu-link:hover {
    background-color: rgb(46, 64, 5) !important;
    color: rgb(219, 180, 24);
    }

    #i-menu {
        color: rgb(149, 194, 58) !important;
    }

    #logo {
        width: 70px;
        height: 40px;
        margin-inline-start: 15px;
        margin-inline-end: 10px;
    }
    
    #navbar-brand {
        visibility: hidden;
        position: absolute;
    }

    #icon-div {
        height: 40px;
        font-size: medium;
    }

    #searchbar {
        margin-inline-start: 5px;
        width: 200px;
        height: 30px;
    }

    #search-input {
        font-size: small;
        padding: 5px;
    }

    #search-btn {
        width: 100px;
        height: 30px;
        font-size: small;
        padding: 0;
        box-shadow: none;
    }

    #offcanvasWithBothOptions {
        max-width: 70%;
        font-size: medium;
    }

    #offcanvasRight {
        max-width: 70%;
        font-size: medium;
    }

    #i-menu {
        color: rgb(149, 194, 58) !important;
    }

    #footer-div {
        height: 40px;
        font-size: medium;
        align-items: center;
        min-width: fit-content;
    }

    #footer-nav {
        font-size: medium;
        height: 40px;
    }

    #footer-img {
       visibility: hidden;
       display: none;
    }

    #seperator-img {
        width: 2px;
        height: 20px;
    }
}


/* Tablets ≥576px und <767px */
@media (min-width: 576px) and (max-width: 767px) {
    
    #main-content {
        padding: 60px 29px 10px 29px;
        background-color: white;
        line-height: 1.5em;
        font-size: medium;
    }

    #logo {
        margin-top: 0;
        margin-bottom: 0;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        padding-inline-end: 3px;
    }
    
    #navbar-brand {
        color: white;
        text-decoration: none;
        font-size: medium;
        margin: 0;
    }

    #searchbar {
        width: 60%;
    }

    #offcanvasWithBothOptions {
        max-width: 60%;
        font-size: medium;
    }

    #offcanvasRight {
        max-width: 60%;
        font-size: medium;
    }

    #i-menu {
        color: rgb(149, 194, 58) !important;
    }
}

/* Tablets, ≥768px und < 991px */
@media (min-width: 768px) and (max-width: 991px) {

    #header-div {
        height: 60px;
        margin-inline-start: 0;
    }

    #i-menu {
        color: rgb(149, 194, 58) !important;
    }
}

/* Desktops, ≥1400px */
@media (min-width: 1400px) {

    #footer-img {
        width:500px;
    }
}
