#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

#body {
    padding-top: 65px;
    padding-bottom: 65px;
}

ul {
    list-style-type: none;
}

.offcanvas-btn {
    display: inline;
}